<section id="top">
    <div id="heading">
        <div id="logo">

            Token = {{token}}
            <hr>
            Retour = {{ret}}
            <div ng-show="displayNewTokenButton">
                <button ng-click="getNewToken()">Get new token</button>
            </div>
            <hr>
            <ul>
                <li ng-repeat="course in courses">
                    {{course.id}} : {{course.name}} ({{course.description}})
                </li>
            </ul>
        </div>
    </div>
</section>
